doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title jQuery Basics
    link(rel='stylesheet', href='/css/app.css')
  body
    h1 One
    h2 Two
    h3 Three
    p p-Tag

    input#tb1(type='text')

    button#btn Click Me
    button#btn2 Click Me
    button#btn3 Click Me
    button#btn4 Click Me
    button#btn5 Click Me
    button#btn6 Click Me
    button#btn7 Click Me


    script(src='/js/vendor/jquery-2.1.0.js')
    script(src='/js/source/main.js')
